<wm-page layouttype="one-column" columns="1" data-ng-controller="AdminPageController" name="page1">
    <wm-header name="header" backgroundcolor="#005387" class="eshop-header" height="6em">
        <wm-layoutgrid rows="1" columns="2" name="layoutgrid23" height="100%">
            <wm-gridrow name="gridrow28">
                <wm-gridcolumn name="gridcolumn68">
                    <wm-picture name="picture1" picturesource="bind:Variables.eshopIcon.dataSet.dataValue"></wm-picture>
                    <wm-label name="applicationName" on-click="appName" caption="bind:Variables.appName.dataSet.dataValue" fontweight="bold" fontsize="24" color="#d1d039" class="application-name appName"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn name="gridcolumn70" horizontalalign="right" paddingtop="1" paddingunit="em" paddingright=".5">
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-header>
    <wm-top-nav name="top-nav" backgroundcolor="#0a3151">
        <wm-list name="topLinks" horizontalalign="right" class="top-nav nav-actions col-md-12">
            <wm-list-item name="topLink7">
                <wm-button caption="LOGOUT" class="top-link" name="logoutlink" on-click="logoutVariable" iconname="log-out" iconmargin="3px"></wm-button>
            </wm-list-item>
        </wm-list>
    </wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" name="column1">
                <wm-tabs name="tabs1" height="auto">
                    <wm-tabpane name="tabpane1">
                        <wm-tabheader name="tabheader1" heading="PRODUCTS"></wm-tabheader>
                        <wm-tabcontent name="tabcontent1">
                            <wm-livegrid name="livegrid1" service="eshopping@Product">
                                <wm-grid name="grid1" dataset="bind:Variables.ProductLiveVariable1.dataSet" data-ng-controller="grid1Controller" shownavigation="true" gridsearch="true" height="400" insertrow="true" updaterow="true" deleterow="true" gridfirstrowselect="true">
                                    <wm-grid-column binding="id" caption="Product Id" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="false"></wm-grid-column>
                                    <wm-grid-column binding="name" caption="Name" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="category" caption="Category" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="price" caption="Price" type="double" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="description" caption="Description" type="string" pcdisplay="true" mobiledisplay="false"></wm-grid-column>
                                    <wm-grid-column binding="availability" caption="Availability" type="boolean" pcdisplay="true" mobiledisplay="false"></wm-grid-column>
                                </wm-grid>
                                <wm-liveform name="liveform1" dataset="bind:Variables.ProductLiveVariable1.dataSet" data-ng-controller="liveform1Controller" novalidate="false"></wm-liveform>
                            </wm-livegrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                    <wm-tabpane name="tabpane2">
                        <wm-tabheader name="tabheader2" heading="USERS"></wm-tabheader>
                        <wm-tabcontent name="tabcontent2">
                            <wm-livegrid name="livegrid2" service="eshopping@User">
                                <wm-grid name="grid2" dataset="bind:Variables.UserLiveVariable1.dataSet" data-ng-controller="grid2Controller" gridsearch="true" showrecordcount="true" shownavigation="true" height="400" insertrow="true" updaterow="true" deleterow="true" gridfirstrowselect="true">
                                    <wm-grid-column binding="id" caption="User Id" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="false"></wm-grid-column>
                                    <wm-grid-column binding="name" caption="Name" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="email" caption="Email" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="password" caption="Password" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="productBought" caption="Products Bought" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="phone" caption="Phone" type="integer" pcdisplay="true" mobiledisplay="false"></wm-grid-column>
                                    <wm-grid-column binding="street" caption="Street Address" type="string" pcdisplay="true" mobiledisplay="false"></wm-grid-column>
                                    <wm-grid-column binding="city" caption="City" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="country" caption="Country" type="string" pcdisplay="true" mobiledisplay="false"></wm-grid-column>
                                    <wm-grid-column binding="pin" caption="Pin Code" type="string" pcdisplay="true" mobiledisplay="false"></wm-grid-column>
                                </wm-grid>
                                <wm-liveform name="liveform2" dataset="bind:Variables.UserLiveVariable1.dataSet" data-ng-controller="liveform2Controller" novalidate="false"></wm-liveform>
                            </wm-livegrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                    <wm-tabpane name="tabpane3">
                        <wm-tabheader name="tabheader3" heading="ORDERS"></wm-tabheader>
                        <wm-tabcontent name="tabcontent3">
                            <wm-livegrid name="livegrid4" service="eshopping@Productorder">
                                <wm-grid name="grid4" dataset="bind:Variables.ProductorderLiveVariable1.dataSet" data-ng-controller="grid4Controller" shownavigation="true" height="300" insertrow="true" updaterow="true" deleterow="true" gridfirstrowselect="true">
                                    <wm-grid-column binding="id" caption="Order Id" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="status" caption="Order Status" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="user.email" caption="Customer Email" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="user.name" caption="Customer Name" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                </wm-grid>
                                <wm-liveform name="liveform4" dataset="bind:Variables.ProductorderLiveVariable1.dataSet" data-ng-controller="liveform4Controller" novalidate="false"></wm-liveform>
                            </wm-livegrid>
                            <wm-livegrid name="livegrid5" service="eshopping@Orderdetail">
                                <wm-grid name="grid5" dataset="bind:Variables.OrderdetailLiveVariable1.dataSet" data-ng-controller="grid5Controller" shownavigation="true" height="300" insertrow="true" updaterow="true" deleterow="true" gridfirstrowselect="true">
                                    <wm-grid-column binding="productorder.id" caption="Order Id" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="product.category" caption="Category" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="product.name" caption="Product Name" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="quantity" caption="Quantity" type="integer" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                </wm-grid>
                                <wm-liveform name="liveform5" dataset="bind:Variables.OrderdetailLiveVariable1.dataSet" data-ng-controller="liveform5Controller" novalidate="false"></wm-liveform>
                            </wm-livegrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                </wm-tabs>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer" height="auto"></wm-footer>
</wm-page>