.appName {
    vertical-align: bottom;
    text-shadow: 0.1em 0.1em #000000 ;
}

.wm-app .eshop-header {
    border-bottom: none;
}

.nav-actions-secondary {
    float: right !important;
}

.top-link:hover, .top-link.active, .menu-link.active {
    background-color: #d5d23d !important;
    color: #363636 !important;
}

.login-dialog {
    overflow: hidden;
}

.login-button {
    float:right;
}

.logindialog .app-dialog-header {
    background-image: none;
    background-color: #015b7f;
    color: #ffffff;
}

.app-label.availability {
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.products-list .app-list-item {
    border: 1px solid transparent;
}
.products-list .app-list-item:hover {
    border: 1px solid #ffd926;
}

.prodCategoryBanner {
    border: 2px solid transparent;
}
.prodCategoryBanner:hover {
    border: 2px solid #ffd926;
}

.product-name:hover {
    text-decoration: underline;
}

.products .app-list-item {
    border: 1px solid transparent;
}
.products .app-list-item:hover {
    border: 1px solid #ffd926;
}

.app-left-panel .category-menu-list li a:hover {
    color: #363636 !important;
    background-color: #d5d23d !important;
}

.list-header {
    border: 1px #ccc solid;
    background: #eeeeee;
    border-bottom: 2px #ccc solid;
    display: block !important;
    margin-top: 1em;
}

.app-label {
    color: #333333;
    position: relative;
    overflow: hidden;
    white-space: normal;
}