.order-items .app-list-item {
    max-width: 2em;
    max-height: 2em;
    padding: 0.25em;
}
.orders-list {
    list-style: none;
}
.order-detail {
    border-bottom: 1px #eee solid;
}
@media screen and (min-width: 1px) and (max-width: 420px) {
    .orders-list .app-column {
        display: block !important;
    }
}