<wm-partial data-ng-controller="topnavPageController" name="topnav">
    <wm-list name="nav-actions-primary" horizontalalign="left" class="col-md-4">
        <wm-list-item name="topLink1">
            <wm-button caption="HOME" name="homelink" iconname="home" iconmargin="3px" on-click="goToPage-Main" class="top-link " data-ng-class="{active:activePage==='Main'}"></wm-button>
        </wm-list-item>
        <wm-list-item name="topLink2" data-ng-click="navigateToPage($event, $scope)">
            <wm-button caption="PRODUCTS" name="productslink" iconname="tags" iconmargin="3px" on-click="goToPage-Category" class="top-link" data-ng-class="{active:activePage==='Category'}"></wm-button>
        </wm-list-item>
        <wm-list-item ng-if="userLoggedin == false" name="list-item3">
            <wm-button class="top-link" caption="LOGIN" name="loginlink" on-click="CommonLoginDialog.show" iconname="log-in" iconmargin="3px"></wm-button>
        </wm-list-item>
    </wm-list>
    <wm-list name="nav-actions-secondary" ng-if="userLoggedin" horizontalalign="right" class="col-md-8">
        <wm-list-item name="topLink3" data-ng-click="navigateToPage($event, $scope)">
            <wm-button caption="MY CART" class="top-link" name="cartlink" iconname="shopping-cart" iconmargin="3px" on-click="goToPage-Cart" data-ng-class="{active:activePage==='Cart'}"></wm-button>
        </wm-list-item>
        <wm-list-item name="topLink4" data-ng-click="navigateToPage($event, $scope)">
            <wm-button caption="MY ORDERS" class="top-link" name="orderslink" iconname="list-alt" iconmargin="3px" on-click="goToPage-Orders" data-ng-class="{active:activePage==='Orders'}"></wm-button>
        </wm-list-item>
        <wm-list-item name="topLink5" data-ng-click="navigateToPage($event, $scope)">
            <wm-button caption="MY PROFILE" class="top-link" name="profilelink" iconname="user" iconmargin="3px" on-click="goToPage-Profile" data-ng-class="{active:activePage==='Profile'}"></wm-button>
        </wm-list-item>
        <wm-list-item name="topLink7">
            <wm-button caption="LOGOUT" class="top-link" name="logoutlink" on-click="logoutVariable" iconname="log-out" iconmargin="3px"></wm-button>
        </wm-list-item>
    </wm-list>
</wm-partial>